.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  .productImg {
    width: 50%;
  }
  
  .productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
  }
  
  .productTitle {
    font-size: 75px;
    font-weight: 900;
  }
  
  .productDesc {
    font-style: 24px;
    color: gray;
  }
  .productButton {
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  
  .productButton:hover {
    background-color: white;
    color: black;
  }